# Prıprava dat
## Zadanie: 
Načtěte dataset a ujistěte se, že rozumíte hodnotám ve sloupcích. Můžete změnit názvy sloupců a odstranit z nich mezery, což se vám může později hodit.

## My solution
1. using pandas function read_csv to load data
2. preparing dataset by removing spaces in column names, renaming colums to use the same convention
    -  calling attribute of the DataFrame *.columns*, that holds the column names
    -  using StringMethods *str* that allows me applying string operations on the  array of column names
        - using method *.strip()* to remove any spaces from each column name
        - using method *.replace(' ', '_')* to replace each space with an underscore 
3. checking dataset 
    - calling method .head() to display the first 5 rows
    - calling attribute .columns to display its column names

In [13]:
import pandas as pd # type: ignore

data = pd.read_csv("data/adm_data.csv")

# Remove spaces from column names
data.columns = data.columns.str.strip().str.replace(' ', '_')

# Rename columns (same convention)
column_mapping = {
    'Serial_No.': 'Serial_Number',
    'GRE_Score': 'GRE_Score',
    'TOEFL_Score': 'TOEFL_Score',
    'University_Rating': 'University_Rating',
    'SOP': 'SOP',
    'LOR_': 'LOR',
    'CGPA': 'CGPA',
    'Research': 'Research',
    'Chance_of_Admit_': 'Chance_of_Admit'
}
data.rename(columns=column_mapping, inplace=True)

# Check the new column names and first few rows of data
data.head(), data.columns

(   Serial_Number  GRE_Score  TOEFL_Score  University_Rating  SOP  LOR  CGPA  \
 0              1        337          118                  4  4.5  4.5  9.65
 1              2        324          107                  4  4.0  4.5  8.87
 2              3        316          104                  3  3.0  3.5  8.00
 3              4        322          110                  3  3.5  2.5  8.67
 4              5        314          103                  2  2.0  3.0  8.21

    Research  Chance_of_Admit
 0         1             0.92
 1         1             0.76
 2         1             0.72
 3         1             0.80
 4         0             0.65  ,
 Index(['Serial_Number', 'GRE_Score', 'TOEFL_Score', 'University_Rating', 'SOP',
        'LOR', 'CGPA', 'Research', 'Chance_of_Admit'],
       dtype='object'))